/*--------------------------------------------------------------
# VARIABLES
--------------------------------------------------------------*/

:root {
    --white-color-corporative: #fff;
    --black-color-corporative: #000;
    --primary-color-corporative: #D290F4;
    --second-color-corporative: #B46ee5;
    --third-color-corporative: #b46ee5;
    --fifth-color-corporative: #deacfc;
    --light-color-corporative: #d390f442;
    --font-primary: "Neon Absolute";
    --font-secundary: "Bebas";
    --font-third: "lcour";
}

.app-admin-wrap-layout-2 .main-content-wrap .side-content-wrap .sidebar-left .navigation-left .nav-item-single.active,
.app-admin-wrap-layout-2 .main-content-wrap .side-content-wrap .sidebar-left .navigation-left .nav-item.active {
    --tw-text-opacity: 1;
    color: var(--primary-color-corporative);
}

.app-admin-wrap-layout-2 .main-content-wrap .side-content-wrap .sidebar-left .navigation-left .nav-item-single.active:after,
.app-admin-wrap-layout-2 .main-content-wrap .side-content-wrap .sidebar-left .navigation-left .nav-item.active:after {
    background-color: var(--primary-color-corporative);
}