/*--------------------------------------------------------------
# VARIABLES
--------------------------------------------------------------*/

:root {
    --white-color-corporative: #fff;
    --black-color-corporative: #000;
    --primary-color-corporative: #D290F4;
    --second-color-corporative: #B46ee5;
    --third-color-corporative: #b46ee5;
    --fifth-color-corporative: #deacfc;
    --light-color-corporative: #d390f442;
}

.background-card-fabian {
    background: var(--light-color-corporative);
}

.bgnd-navbar {
    background: #deacfc !important;
}

.header-custom {
    color: var(--black-color-corporative);
}